				<h2>Authors</h2>
				<ul>
				      <% if @blogs && !@blogs.nil? %>
					<% @blogs.each do |blog|%>
					<li>
						<a href="<%= blog.blog_url%>" target="_blank"><%= blog.blogger_name%></a>
					</li>
				        <%end%>
                                      <% end %>
				</ul>